{% extends "includes/base_info_page.html"%}
{% block main %}
<div id="banner-img">
	<img src="/static/img/banner-stairway.jpg" alt="">
</div>
<div id="info_block">
	
	<div class="centered-body long-block">
		<div id="filter-block" class="centered">
			<label>热门地区</label> 
			<form action="/test/" method="get">
				{% csrf_token %}
				<select name="district">
				  <option value ="东部地区">东部地区</option>
				  <option value ="西部地区">西部地区</option>
				  <option value="加利福尼亚州">加利福尼亚州</option>
				  <option value="佛罗里达州">佛罗里达州</option>
				  <option value="五大湖区">五大湖区</option>
				</select>
				<input type="submit" value="发送"/>
			</form>
		</div>
	</div>
	
</div>
{% endblock main %}