{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宅</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'main/css/main.css' %}"></link>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
</head>
<body>
    <div class="fullscreen" style="background:url('{% static 'main/img/1.JPG' %}'); background-size: cover;">
        <nav>
            <div class="centered body-width ">
                <div class="logo "></div>
                <ul class="">
                    <li>首页</li>
                    <li>冬墅</li>
                    <li>夏宅</li>
                    <li>服务</li>
                    <li>缘起</li>
                    <li>入伙</li>
                </ul>

            </div>
            <div class="hotline">400-800-0000</div>
        </nav>
        <div class="slogan">
            <h1>墅宅私享游</h1>
            <h2>有思想的旅游体验</h2>
        </div>

    </div>
</body>
<script>
    $(function(){
        $('.fullscreen').height($(window).height());
    })
</script>
</html>
