{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宅</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{%static 'main/css/main.css'%}"></link>
    <script src="{% static 'main/js/jquery.min.js'%}"></script>
</head>
<body>
    <div class="fullscreen blur-bg" style="position:absolute;background:url('{%static 'main/img/loading.JPG'%}'); background-size: cover;"></div>
    <div class="fullscreen blur-content" style="position:absolute">
        <div class="slogan loading">
            <div class="logo "></div>
            <div class="title">
                <h2>墅宅生活，</h2>
                <h2>通往您世界之家的钥匙</h2>
            </div>
            <p style="margin-left: 30px;">Villa Zhai, key to your home miles away</p>
        </div>
        <div class="progress-bar">
            <progress max="100" value="60"></progress>
            <p>loading...</p>
        </div>
    </div>
</body>
<script>
    $(function(){
        $('.fullscreen').height($(window).height());
        setTimeout(function(){
            window.location = '/home/';
        },1000); 
    })
</script>
</html>
